#ralsei3{
	font-family: Georgia ;
	text-align: center;
	background-color: rgb(104, 188, 104) ;
}
*{
	background-color:pink ;
}
#Who{
	text-align:center
}
p{
	text-align: center
}
.rich{
	text-align: left;
}